@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48, 8%, 88%; /* Light mode */
    --foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
  }

  .dark {
    --background: 202, 31%, 7%; /* Dark mode */
    --foreground: 210 40% 98%;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background)); /* FIXED */
    color: hsl(var(--foreground)); /* FIXED */
  }
}

/* Custom Scrollbar */
@layer components {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: hsl(var(--gray-primary));
    border-radius: 4px;
  }
  ::-webkit-scrollbar-track {
    background-color: hsl(var(--container));
  }
}
